* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: hsl(212, 45%, 89%);
    text-align: center;
}

.Card {
    position: relative;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    margin: auto;
    padding: 15px;
    width: 350px;
    height: auto;
    text-align: center;
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
}

.Cardbody {
    padding: 20px;
}

.QRcode {
    border-radius: 10px;
}